.container{
    border: solid whitesmoke 1px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 150px;
    margin: 5px;
    height: 125px;
}

.cleanFileWrap{
    width: 150px;
    height: 125px;
    border: solid whitesmoke 1px;
    margin: 5px;
}

.fileUploadWrap{
    display: flex;
    flex-direction: row;
}