/* TODO Add site wide styles */
body{
    width: 400px;
    height:500px;
    background-color: whitesmoke;
    margin: 0px;
    border: solid black 1px;
}

*{
    font-family: 'Poppins', sans-serif;
}

.navBar{
    width: 100%;
    height: 50px;
    /* border-bottom: solid #be74ff 1px; */
    /* background-color: rgb(39, 39, 39); */
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
}

/* left and right nav divs */

.navLeft, .navRight, .shareHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navLeft > h4{
    padding: 0px;
    margin: 0px;
}

.navLeft > img {
    width: 20px;
    margin-right: 7px;
    cursor: pointer;
}

.shareHolder > img{
    width: 30px;
    margin: 2px;
    cursor: pointer;
    border-radius: 7px;
}

.shareHolder>img:hover {
    transform: translateY(1px);
    box-shadow: 0px 0px 1px 1px lightgrey;
}

.navLeft{
    border: solid #be74ff 1px;
    background-color: white;
    /* background-color: whitesmoke; */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px lightgrey;
}



/* Loader */

.loader{
    width: 100%;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 93, 93);
    color: whitesmoke;
}

.footer{
    box-sizing: border-box;
    border-top: solid lightgrey 1px;
    height: 30px;
    background-color: white;
}

.pageSelector{
    height: 30px;
    /* width: 100%; */
    /* box-shadow: 0px 1px 1px 0px lightgray; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: solid lightgrey 1px;
    flex-direction: row;
    color: black;
    border-top: solid #a15fda 1px;
}

.pageSelector>*:hover{
    color: #a15fda;
    cursor: pointer;
}

.Selected{
    color: #a15fda;
}