/* PAGE WRAP */

.sHolder{
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    color: black;
    width: 100%;
    box-shadow: 0px -2px 2px -2px black;
}

/* TOP SECTION */

.singleBox{
    display: flex;
    flex-direction: column;
    border: solid #be74ff 2px;
    /* color: whitesmoke; */
    width: 90%;
    height: 250px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 1px 1px lightgrey; */
}

.singleBox > *{
    /* margin: 5px;
    padding: 0px;
    font-size: 11pt; */
    margin: 10px;
}

.emailBox, .phoneBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.eInput, .pInput{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
}

.eResults, .pResults{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: solid black 1px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 10pt;
    text-align: center;
}

.eInput >form>input, .pInput > form > input {
    height: 30px;
    color: black;
    box-sizing: border-box;
    border-radius: 0px;
    width: 75%;
    border: none;
    border-top: solid #be74ff 2px;
    border-bottom: solid #be74ff 2px;
    border-left: solid #be74ff 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.eInput>form>button,
.pInput>form>button {
    height: 30px;
    color: white;
    cursor: pointer;
    border-radius: 0px;
    width: 25%;
    border: none;
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 1px;
    outline: #be74ff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #be74ff;
    transition: background-color 0.5s, color 0.5s;
}

.eInput>form>button:active,
.pInput>form>button:active {
    transform: translate(0px, 1px);
}

/* .eInput>form>button:hover,
.pInput>form>button:hover {
    background-color: white;
    color:black;
} */

.eInput>form,
.pInput>form {
    height: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 250px;
    margin-top: 5px;
}

.eInput>form>input:focus,
.pInput>form>input:focus {
    outline: none
}

.eResults > *, .pResults > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

.valid{
    color: green;
}

.invalid{
    color: red;
}

.test{
    color: black;
}

/* BOTTOM SECTION */

.mainBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 90%;
    margin-top: 15px;
    border: solid #be74ff 2px;
}

.mainBottom > h4{
    /* color: whitesmoke; */
    background-color: black;
    border: solid whitesmoke 2px;
    padding: 4px;
    border-radius: 5px;
}


.singleLoaderIcon{
    width: 30px;
    height: 30px;
}