.learnMoreWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.subBox{
    border: solid #be74ff 1px;
    width: 75%;
    height: 150px;
    margin-bottom: 25px;
}

.subBox > * {
    margin: 0px;
}

.contactForm {
    /* border: solid #be74ff 1px; */
    width: 75%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactForm > * {
    margin: 5px;
}