header{
    display: flex;
    top: 0;
    background-color: #2847A6;
    width: 100%;
    height: 4.2rem;
    border-radius: 7px;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgb(190, 190, 190);
}

body{
    /* position: relative; */
    background-color:rgb(237, 237, 237);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* body tag class */

#header-logo{
    width: 2.2rem;
    height: 2.2rem;
}

#header-brand:hover{
    font-size: 1.25rem;
}

#header-brand{
    position: relative;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-left: 1.3rem;
    transition: all 0.5s;
}


header > div> a:hover,p:hover,img:hover {
    cursor:pointer;
}

.header-div-left{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.top-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 8rem; */
}

.chrome-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    /* width: 100%;
    height: 100%; */
}

.chrome-button-div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2847A6;
    border: solid 1.5px whitesmoke;
    text-decoration: none;
    width: 10rem;
    height: 2rem;
    border-radius: 4px;
}

.chrome-button-div:hover{
    cursor:pointer;
    transform: translate(0px, -2px);
}

a {
    text-decoration: none;
}
/* a tag class */

nav {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.li-main {
    color: #fff;
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: all 0.5s;
}

.li-main > a {
    color: #fff;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.5s;
}


.li-main:hover > a{
    border: solid 1px whitesmoke;
}

li:hover,
li:focus-within {
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: whitesmoke;
    font-size: 12pt;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
    transition: all 0.5s;
    border: solid black 1px;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

ul li ul li {
    clear: both;
    width: 95%;
    text-align: center;
    padding: 0.2rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

ul li ul li > a {
    color: black;
    /* transition: all 0.5s; */
}

ul li ul li > a:hover {
    /* color: #2847A6; */
    color: orange;

}


/* header ^^^^^ */


/* main vvvvv */

.section1{
    width: 85%;
    margin-top: 2rem;
    height: 30rem;
    background-color: #2847A6;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgb(190, 190, 190);
}

.body1{
    width: 100%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-1{
    box-sizing: border-box;
    width: 55%;
    height: 80%;
    background-color: #2847A6;
    border-radius: 7px;
    border: solid whitesmoke 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: column;
}

.section1-1 > h1 {
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}
.section1-1 > p {
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

.single-verifier-div{
    width: 95%;
    height: 13rem;
    background-color: whitesmoke;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    border-radius: 7px;
}

.form1{
    margin-top: 1rem;
}

.input1 {
    width: 40%;
    border: solid orange 1px;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
    color: black;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
}

.input2 {
    border: solid orange 1px;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
    color: black;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
}

.input2:hover{
    cursor: pointer;
    background-color: orange;
    /* transform: translate(0px,-2px); */
}

.results-below-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
.hr1{
    width: 90%;
    border-top: solid black 1px;
}

.results-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.result-img{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    display:none;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}
.section1-2{
    width: 39%;
    height: 80%;
    background-color: #1C3173;
    border-radius: 7px;
    border: solid whitesmoke 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.drag{
    width: 15rem;
    height: 10rem;
    border: dashed black 2px;
    background-color: whitesmoke;
    border-radius: 7px;
}


.file-upload{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    color: black;
}

.file-upload:focus{
    opacity: 100;
}

.section2{
    display: flex;
    width: 85%;
    margin-top: 2rem;
    height: 30rem;
    background-color: #2847A6;
    border-radius: 7px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgb(190, 190, 190);
}

.lowerDiv{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: solid whitesmoke 2px;
    border-radius: 7px;
    background-color: #2856a6;
    color: whitesmoke;
}

.lowerH3{
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lowerP{
    width: 80%;
    text-align: center;
}

/* foooter */

.footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    background-color: #1C3173;
    border: solid black 2px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 2px rgb(190, 190, 190);

}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80%;
    border: solid whitesmoke 1px;
    border-radius: 7px;
    color: whitesmoke;
    margin-right: 2rem;
}

.innerFoot{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    border-radius: 7px;
    color: whitesmoke;
    margin-right: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.innerFoot2{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    /* border: solid whitesmoke 1px; */
    border-radius: 7px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;

}

.listCheck{
    width: 2rem;
    height: 2rem;
}

.bottomLi > li > p {
    font-size: 0.7rem;
    padding-left: 1.5rem;
}

.bottomLi > li {
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
    border-radius: 7px;
    transition: all 0.5s;

}

.bottomLi > li:hover {
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
    background-color: #2847A6;
    cursor: default;

}

p:hover{
    cursor:default;
}




/* media queries  ---- screen scizes  */
@media (max-width: 800px){
    header > div > nav {
        display: none;
    }
}

@media (max-width: 450px){
    header > div > nav {
        display: none;
    }
    .chrome-button, .chrome-button-div {
        display: none;
    }
}
